<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title}}</title>
</head>
<body>

    {%if add_new_parlor%}
    <!-- add new parlor -->
    <form action="./add-parlor" method="post">
    {%else%}
    <!-- update existing parlor -->
        
    <form action="./update-parlor" method="post">
    {%endif%}
    </form>
</body>
</html>